{% extends 'store/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Главная (mobile version)</title>
    <link rel="stylesheet" href="{% static 'css/home_m.css' %}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="boxa">
        <div class="row justify-content-center">
            <div class="header">
                <p>Online shop (mob)</p>
            </div>
        </div>
    </div>
    <div class="menu_btn" onclick="menu_open();"></div>
    <div class="menu">
        <div class="menu_btn" onclick="menu_close();"></div>
    </div>
    <div style="height: 4000px;"></div>
    <script src="{% static "js/home_m.js" %}"></script>
{% endblock %}
