{% extends 'store/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/home_pc.css' %}" type="text/css" />
{% endblock %}

{% block body %}
    <script>$.preloadImages("https://png.icons8.com/ios-glyphs/70/848484/menu.png",
                            "https://png.icons8.com/ios-glyphs/70/000000/menu.png",
                            "https://png.icons8.com/ios/70/000000/delete-sign-filled.png",
                            "https://png.icons8.com/ios/70/848484/delete-sign-filled.png");</script>
    <div class="boxa">
        <div class="row justify-content-center">
            <div class="header w-50">
                <p>Online shop (pc)</p>
            </div>
        </div>
    </div>
    <div class="menu_btn" onclick="menu_open();"></div>
    <div class="menu">
        <div class="menu_back_btn" onclick="menu_close();"></div>
    </div>
    <div style="height: 4000px;"></div>
    <script src="{% static "js/home_pc.js" %}"></script>
{% endblock %}